## Exploracion

Aca vemos bla bla bla

In [115]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [116]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics
import datetime

In [117]:
!ls ../data

gender_submission.csv  test.csv  train.csv

In [118]:
path='../data/train.csv'
path2='../data/test.csv'

In [147]:
df=pd.read_csv(path)
df2=pd.read_csv(path2)

In [120]:
import datetimedisplay(df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [82]:
display(df2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [85]:
df.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.6+ KB

## Cleaning

A continuacion limpieza del dataset, eliminando los nulos de Age

In [88]:
df.Age[ (df.Sex=='female' )& (df.Age.isnull()==1)]=df[df.Sex=='female'].Age.median()

/home/vramirez/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [89]:
df.Age[ (df.Sex=='male' )& (df.Age.isnull()==1)]=df[df.Sex=='male'].Age.median()

/home/vramirez/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [90]:
df2.Age[ (df2.Sex=='female' )& (df2.Age.isnull()==1)]=df2[df2.Sex=='female'].Age.median()

/home/vramirez/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [91]:
df2.Age[ (df2.Sex=='male' )& (df2.Age.isnull()==1)]=df2[df2.Sex=='male'].Age.median()

/home/vramirez/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [148]:
df.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

### Age = clean

In [93]:
df = pd.get_dummies(df, columns=['Sex'], drop_first=True)

In [94]:
df2 = pd.get_dummies(df2, columns=['Sex'], drop_first=True)

In [95]:
df.Fare.median()

14.4542

In [96]:
df['Fare'] = df.Fare.fillna(df.Fare.median())

In [97]:
df2['Fare'] = df2.Fare.fillna(df2.Fare.median())

In [149]:
train_cats(df)
apply_cats(df2,df)

In [150]:
#y=df.Survived
df, y,a =proc_df(df,'Survived')
df['Fare_na']=False
df2=proc_df(df2)
m = RandomForestClassifier(n_jobs=-1,max_depth=8,n_estimators=100)
m.fit(df, y)
m.score(df,y)

0.9461279461279462

In [151]:
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_na,Fare_na
0,1,3,109,2,22.0,1,0,524,7.2500,0,3,False,False
1,2,1,191,1,38.0,1,0,597,71.2833,82,1,False,False
2,3,3,354,1,26.0,0,0,670,7.9250,0,3,False,False
3,4,1,273,1,35.0,1,0,50,53.1000,56,3,False,False
4,5,3,16,2,35.0,0,0,473,8.0500,0,3,False,False
5,6,3,555,2,28.0,0,0,276,8.4583,0,2,True,False
6,7,1,516,2,54.0,0,0,86,51.8625,130,3,False,False
7,8,3,625,2,2.0,3,1,396,21.0750,0,3,False,False
8,9,3,413,1,27.0,0,2,345,11.1333,0,3,False,False
9,10,2,577,1,14.0,1,0,133,30.0708,0,1,False,False
10,11,3,728,1,4.0,1,1,617,16.7000,146,3,False,False
11,12,1,96,1,58.0,0,0,39,26.5500,50,3,False,False
12,13,3,730,2,20.0,0,0,536,8.0500,0,3,False,False
13,14,3,29,2,39.0,1,5,334,31.2750,0,3,False,False
14,15,3,841,1,14.0,0,0,414,7.8542,0,3,False,False
15,16,2,360,1,55.0,0,0,154,16.0000,0,3,False,False
16,17,3,683,2,2.0,4,1,481,29.1250,0,2,False,False
17,18,2,868,2,28.0,0,0,152,13.0000,0,3,True,False
18,19,3,840,1,31.0,1,0,302,18.0000,0,3,False,False
19,20,3,513,1,28.0,0,0,185,7.2250,0,1,True,False
20,21,2,274,2,35.0,0,0,140,26.0000,0,3,False,False
21,22,2,81,2,34.0,0,0,153,13.0000,112,3,False,False
22,23,3,524,1,15.0,0,0,279,8.0292,0,2,False,False
23,24,1,766,2,28.0,0,0,43,35.5000,14,3,False,False
24,25,3,627,1,8.0,3,1,396,21.0750,0,3,False,False
25,26,3,45,1,38.0,1,5,330,31.3875,0,3,False,False
26,27,3,241,2,28.0,0,0,180,7.2250,0,1,True,False
27,28,1,261,2,19.0,3,2,96,263.0000,64,3,False,False
28,29,3,606,1,28.0,0,0,284,7.8792,0,2,True,False
29,30,3,814,2,28.0,0,0,363,7.8958,0,3,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,2,284,2,21.0,1,0,222,11.5000,0,3,False,False
862,863,1,798,1,48.0,0,0,89,25.9292,95,3,False,False
863,864,3,719,1,28.0,8,2,569,69.5500,0,3,True,False
864,865,2,286,2,24.0,0,0,121,13.0000,0,3,False,False
865,866,2,123,1,42.0,0,0,127,13.0000,0,3,False,False
866,867,2,231,1,27.0,1,0,633,13.8583,0,1,False,False
867,868,1,697,2,31.0,0,0,591,50.4958,7,3,False,False
868,869,3,891,2,28.0,0,0,310,9.5000,0,3,True,False
869,870,3,408,2,4.0,1,1,345,11.1333,0,3,False,False
870,871,3,60,2,26.0,0,0,388,7.8958,0,3,False,False
871,872,1,80,1,47.0,1,1,55,52.5542,103,3,False,False
872,873,1,140,2,33.0,0,0,503,5.0000,35,3,False,False
873,874,3,837,2,47.0,0,0,304,9.0000,0,3,False,False
874,875,2,5,1,28.0,1,0,576,24.0000,0,1,False,False
875,876,3,572,1,15.0,0,0,196,7.2250,0,1,False,False
876,877,3,312,2,20.0,0,0,505,9.8458,0,3,False,False
877,878,3,658,2,19.0,0,0,359,7.8958,0,3,False,False
878,879,3,452,2,28.0,0,0,364,7.8958,0,3,True,False
879,880,1,669,1,56.0,0,1,60,83.1583,71,1,False,False
880,881,2,740,1,25.0,0,1,116,26.0000,0,3,False,False
881,882,3,511,2,33.0,0,0,395,7.8958,0,3,False,False
882,883,3,194,1,22.0,0,0,509,10.5167,0,3,False,False
883,884,2,62,2,28.0,0,0,566,10.5000,0,3,False,False
884,885,3,794,2,25.0,0,0,651,7.0500,0,3,False,False
885,886,3,685,1,39.0,0,5,481,29.1250,0,2,False,False
886,887,2,549,2,27.0,0,0,102,13.0000,0,3,False,False
887,888,1,304,1,19.0,0,0,15,30.0000,31,3,False,False
888,889,3,414,1,28.0,1,2,676,23.4500,0,3,True,False
889,890,1,82,2,26.0,0,0,9,30.0000,61,1,False,False
890,891,3,221,2,32.0,0,0,467,7.7500,0,2,False,False

In [145]:
df2[0]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_na,Fare_na
0,892,3,207,2,34.5,0,0,153,7.8292,0,2,False,False
1,893,3,404,1,47.0,1,0,222,7.0000,0,3,False,False
2,894,2,270,2,62.0,0,0,74,9.6875,0,2,False,False
3,895,3,409,2,27.0,0,0,148,8.6625,0,3,False,False
4,896,3,179,1,22.0,1,1,139,12.2875,0,3,False,False
5,897,3,367,2,14.0,0,0,262,9.2250,0,3,False,False
6,898,3,85,1,30.0,0,0,159,7.6292,0,2,False,False
7,899,2,58,2,26.0,1,1,85,29.0000,0,3,False,False
8,900,3,5,1,18.0,0,0,101,7.2292,0,1,False,False
9,901,3,104,2,21.0,2,0,270,24.1500,0,3,False,False
10,902,3,188,2,27.0,0,0,196,7.8958,0,3,True,False
11,903,1,197,2,46.0,0,0,260,26.0000,0,3,False,False
12,904,1,353,1,23.0,1,0,53,82.2667,13,3,False,False
13,905,2,185,2,63.0,1,0,75,26.0000,0,3,False,False
14,906,1,70,1,47.0,1,0,363,61.1750,61,3,False,False
15,907,2,416,1,24.0,1,0,344,27.7208,0,1,False,False
16,908,2,205,2,35.0,0,0,61,12.3500,0,2,False,False
17,909,3,22,2,21.0,0,0,120,7.2250,0,1,False,False
18,910,3,189,1,27.0,1,0,357,7.9250,0,3,False,False
19,911,3,21,1,45.0,0,0,121,7.2250,0,1,False,False
20,912,1,325,2,55.0,1,0,317,59.4000,0,1,False,False
21,913,3,285,2,9.0,0,1,278,3.1708,0,3,False,False
22,914,1,139,1,27.0,0,0,315,31.6833,0,3,True,False
23,915,1,407,2,21.0,0,1,314,61.3792,0,1,False,False
24,916,1,330,1,48.0,1,3,320,262.3750,16,1,False,False
25,917,3,319,2,50.0,1,0,274,14.5000,0,3,False,False
26,918,1,289,1,22.0,0,1,15,61.9792,11,1,False,False
27,919,3,98,2,22.5,0,0,122,7.2250,0,1,False,False
28,920,1,45,2,41.0,0,0,12,30.5000,3,3,False,False
29,921,3,340,2,27.0,2,0,105,21.6792,0,1,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,59,2,21.0,0,0,226,7.7500,0,2,False,False
389,1281,3,293,2,6.0,3,1,206,21.0750,0,3,False,False
390,1282,1,295,2,23.0,0,0,33,93.5000,9,3,False,False
391,1283,1,232,1,51.0,0,1,312,39.4000,54,3,False,False
392,1284,3,1,2,13.0,0,2,282,20.2500,0,3,False,False
393,1285,2,156,2,47.0,0,0,283,10.5000,0,3,False,False
394,1286,3,215,2,29.0,3,1,147,22.0250,0,3,False,False
395,1287,1,350,1,18.0,1,0,38,60.0000,31,3,False,False
396,1288,3,80,2,24.0,0,0,245,7.2500,0,2,False,False
397,1289,1,151,1,48.0,1,1,37,79.2000,12,1,False,False
398,1290,3,225,2,22.0,0,0,177,7.7750,0,3,False,False
399,1291,3,84,2,31.0,0,0,54,7.7333,0,2,False,False
400,1292,1,38,1,30.0,0,0,239,164.8667,41,3,False,False
401,1293,2,152,2,38.0,1,0,129,21.0000,0,3,False,False
402,1294,1,154,1,22.0,0,1,8,59.4000,0,1,False,False
403,1295,1,65,2,17.0,0,0,13,47.1000,0,3,False,False
404,1296,1,150,2,43.0,1,0,45,27.7208,59,1,False,False
405,1297,2,280,2,20.0,0,0,343,13.8625,58,1,False,False
406,1298,2,387,2,23.0,1,0,130,10.5000,0,3,False,False
407,1299,1,401,2,50.0,1,1,14,211.5000,43,1,False,False
408,1300,3,317,1,27.0,0,0,161,7.7208,0,2,True,False
409,1301,3,297,1,3.0,1,1,352,13.7750,0,3,False,False
410,1302,3,274,1,27.0,0,0,229,7.7500,0,2,True,False
411,1303,1,263,1,37.0,1,0,49,90.0000,42,2,False,False
412,1304,3,173,1,28.0,0,0,185,7.7750,0,3,False,False
413,1305,3,354,2,27.0,0,0,268,8.0500,0,3,True,False
414,1306,1,284,1,39.0,0,0,325,108.9000,23,1,False,False
415,1307,3,333,2,38.5,0,0,347,7.2500,0,3,False,False
416,1308,3,385,2,27.0,0,0,221,8.0500,0,3,True,False
417,1309,3,303,2,27.0,1,1,106,22.3583,0,1,True,False

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Name           891 non-null int16
Sex            891 non-null int8
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null int16
Fare           891 non-null float64
Cabin          891 non-null int16
Embarked       891 non-null int8
Age_na         891 non-null bool
dtypes: bool(1), float64(2), int16(3), int64(4), int8(2)
memory usage: 49.7 KB

In [105]:
df['Embarked'] = df.Embarked.fillna('S')

In [106]:
df.Embarked

0      S
1      C
2      S
3      S
4      S
5      Q
6      S
7      S
8      S
9      C
10     S
11     S
12     S
13     S
14     S
15     S
16     Q
17     S
18     S
19     C
20     S
21     S
22     Q
23     S
24     S
25     S
26     C
27     S
28     Q
29     S
      ..
861    S
862    S
863    S
864    S
865    S
866    C
867    S
868    S
869    S
870    S
871    S
872    S
873    S
874    C
875    C
876    S
877    S
878    S
879    C
880    S
881    S
882    S
883    S
884    S
885    Q
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: category
Categories (3, object): [C < Q < S]

In [152]:
res=m.predict(df2[0])

In [154]:
resul=df2[0]
resul['Survived']=res

In [159]:

st = datetime.datetime.now().strftime('%Y%m%d%H%M%S')
print(st)

20190409192912

In [160]:
resul[['PassengerId', 'Survived']].to_csv(f'../predictions/result_{st}.csv',index=False)